
body, html {
    height: 100%;
    margin: 0;
}

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#admin-container {
    width: 100%;
    max-width: 100px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; 
    margin-bottom: 30px;
}

#adminpage {
    width: 100%;
}

#admin-container input {
    width: 10%;
    box-sizing: border-box; 
    max-width: 100%; 
}


