/* styles.css */

body, html {
    height: 100%;
    margin: 0;
}

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#admin-container {
    width: 100%;
    max-width: 100px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Adjust margin-top to avoid overlapping with header */
    margin-bottom: 30px; /* Adjust margin-bottom to avoid overlapping with footer */
}

#adminpage {
    width: 100%;
}

#admin-container input {
    width: 10%;
    box-sizing: border-box; /* Include padding and border in the width */
    max-width: 100%; /* Limit to 100% to prevent overflow */
}
