<div class="admin d-flex justify-content-center align-items-center">
  <div>
    
  
   <div id="adminpage" class="admin col-lg-4" >
      <form #formData="ngForm" (ngSubmit)="readFormData(formData)" >
        <fieldset class="mx-auto"  style="width: 450%;" >
          <h2 style="text-align: center;">Admin Login</h2>
          <br>
          <br>
          <br>
          <div class="form-group" >
            <label for="exaAmpleInputEmail1">UserName:</label>
            <input type="username" class="form-control" name="username" required #username="ngModel" ngModel placeholder="Enter a valid UserName">
            <small id="userHelp" class="form-text text-muted"></small>
            <span style="color:red" *ngIf="username.touched && username.invalid">UserName is required</span>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" name="password" required #pwd="ngModel" ngModel placeholder="Enter a valid Password">
            <span style="color:red" *ngIf="pwd.touched && pwd.invalid">Password is mandatory</span>
          </div>
          <br> <br>
         

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
          <button type="submit" style="text-align: center;" class="btn btn-primary" [disabled]="formData.invalid">Login</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>