/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

/* Container Styles */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* Column Styles */
/* .col-md-6,
.col-md-3 {
    
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
} */

/* Social Links Styles */
.social-links {
    list-style: none;
    padding: 0;
    line-height: 30px;
 
}

/* .social-links li {
    margin-right: 10px;
} */


i{
    color: rgb(203,203,132);
    padding-right: 10px;
}
i:hover{
    color: white;
}
/* Media Query Styles */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .social-links {
        justify-content: center; 
    }
} */

/* li{
    margin-left: 20px;
}

p i{
    margin-left: 20px;
    padding-left: 20px;
} */

#contact{
    display: flex; 
}
#follow,#copy,#write{
    margin:10px 100px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}