<!-- <p>cart works!</p>
<h2 class="text-center">Cart Page</h2> -->
<button (click)="getall()">Get Cart</button>

<div *ngIf="response && response.length > 0">
  <table border="1" class="table table-bordered">
    <!-- Table headers -->
    <thead>
      <tr>
        <th>cartId</th>
        <th>customerId</th>
        <th>quantity</th>
        <th>totalAmount</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let admin of response">
        <td>{{ admin.cartId }}</td>
        <td>{{ admin.customerId }}</td>
        <td>{{ admin.quantity }}</td>
        <td>{{ admin.totalAmount }}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div class="text-center">
  <button (click)="addForm()" class="btn btn-success">Add Cart</button>
</div>
<div *ngIf="isAddFormVisible" class="container col-lg-4">
  <form #formData=ngForm (ngSubmit)="add(formData)">

    <div class="form-group">
      customerId:
      <input type="number" class="form-control" name="customerId" required #customerId="ngModel" ngModel>
      <span style="color:red" *ngIf="customerId.touched && customerId.invalid">customerId is required</span>
    </div>

    <div class="form-group">
      quantity:
      <input type="number" class="form-control" name="quantity" required #quantity="ngModel" ngModel>
      <span style="color:red" *ngIf="quantity.touched && quantity.invalid">quantity is required</span>
    </div>

    <div class="form-group">
      totalAmount:
      <input type="number" class="form-control" name="totalAmount" required #totalAmount="ngModel" ngModel>
      <span style="color:red" *ngIf="totalAmount.touched && totalAmount.invalid">totalAmount is required</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Submit</button>
  </form>
</div>

<br>
<div class="text-center">
  <button (click)="updateForm()" class="btn btn-success">Update Cart</button>
</div>
<div *ngIf="isUpdateFormVisible" class="container col-lg-4">
  <form #formData=ngForm (ngSubmit)="update(formData)">

    <div class="form-group">
      cartId:
      <input type="number" class="form-control" name="cartId" required #cartId="ngModel" ngModel>
      <span style="color:red" *ngIf="cartId.touched && cartId.invalid">cartId is required</span>
    </div>

    <div class="form-group">
      customerId:
      <input type="number" class="form-control" name="customerId" required #customerId="ngModel" ngModel>
      <span style="color:red" *ngIf="customerId.touched && customerId.invalid">customerId is required</span>
    </div>

    <div class="form-group">
      quantity:
      <input type="number" class="form-control" name="quantity" required #quantity="ngModel" ngModel>
      <span style="color:red" *ngIf="quantity.touched && quantity.invalid">quantity is required</span>
    </div>

    <div class="form-group">
      totalAmount:
      <input type="number" class="form-control" name="totalAmount" required #totalAmount="ngModel" ngModel>
      <span style="color:red" *ngIf="totalAmount.touched && totalAmount.invalid">totalAmount is required</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Submit</button>
  </form>
</div>
<br>