<!DOCTYPE html>
<html>
<head>
    <title></i>My Web Page</title>
    
</head>
<body>
   
    <div class="header">
        <h1 class="logoname"><i class="fa-solid fa-cart-shopping"></i>GroceryPal</h1>
        <div class="header-item">
           <ul type="none">
            <li><a href="#header"><button>Home</button></a></li>
                <li><a href="/aboutus"><button>AboutUs</button></a></li>
                <li> <div class="dropdown">
                    <button >Login</button> <br>
                    <div class="dropdown-options">
                     <button style="width: 100px;"> <a style="color: white;text-decoration: none;" routerLink="/adminlogin">Admin</a></button> <br>
                     <button style="width: 100px;"> <a style="color: white;text-decoration: none;" routerLink="/customerlogin">Customer</a></button>
                    </div>
                  </div>
                </li>
    
                <li><a routerLink="/product"><button>Product</button></a></li>
                <li><a routerLink="/cart"><button>Cart</button></a></li>
                <li><a routerLink="/order"><button>Order</button></a></li>
           </ul>
        </div>
    </div>


</body>
</html>
