<h2 style="font-family: Georgia, 'Times New Roman', Times, serif; background-color: cadetblue;padding-left: 20px;">About us</h2>
<div class="about">
    <p>At Grocery Pal, we understand that many customers face common frustrations when ordering groceries online, particularly when they are unable to find all the items that they need in one store. This results in customers either abandoning their order or settling for whatever replacement items are available, regardless of product prices.

 

        To solve this problem, Grocery Pal has developed a solution that allows customers to add any item they want from any store to a single shopping cart. This means that customers can easily order everything they need at one-stop-shop without the hassle of navigating through multiple stores or compromising on their preferred products. With Grocery Pal, customers can enjoy a seamless and stress-free online shopping experience.
    
    
        Grocery Pal will be every person’s one stop destination for online grocery shopping. A simple and convenient process of purchasing multiple products from multiple stores through one cart at no extra cost. Products from different categories will be delivered to your doorstep at one delivery fee and one time aiding our users to save both time and money. More importantly, empowering our consumers to find their preferred items in one time shopping experience. We also provide our users with an extremely informative interface for each product helping them assure their purchase for each product is most appropriate for their use.</p>
    </div>
    
