<app-navbar></app-navbar>

<body>
  <div class="admin-dashboard">
    <header class="header">
      
      
      
      
      <ul class="button-list">
        
        <li class="container-container">
          &nbsp;      &nbsp;   &nbsp; 
          <a class="header-button large-buttonrest" routerLink="/customer" routerLinkActive="active">
            Customer
          </a>
          &nbsp;      &nbsp;   &nbsp; 

          <a class="header-button large-buttoncart" routerLink="/product" routerLinkActive="active">
            Product
          </a>
          &nbsp;      &nbsp;   &nbsp; 
          <a class="header-button large-buttonorder" routerLink="/order" routerLinkActive="active">
            Order
          </a>
        </li>
        
      </ul>
    </header>
  </div>
</body>
