<app-navbar></app-navbar>

<body>
  <div class="admin-dashboard">
    <header class="header">
      <ul class="button-list">
        
        <li class="restaurant-container">
          <a class="header-button large-buttonrest" routerLink="/customer" routerLinkActive="active">
            Customer
          </a>
          <a class="header-button large-buttoncart" routerLink="/product" routerLinkActive="active">
            Product
          </a>
          <a class="header-button large-buttonorder" routerLink="/order" routerLinkActive="active">
            Order
          </a>
        </li>
        
      </ul>
    </header>
  </div>
</body>

<!-- <ul>

<li><a routerLink="/customer"><button>Customer</button></a></li>
<li><a routerLink="/product"><button>Product</button></a></li>
<li><a routerLink="/order"><button>Order</button></a></li>
</ul>
<br> -->
<!-- <div class="custom-button">
  <button type="submit" class="btn btn-danger" (click)="goBack()" style="margin-left: 20px;">Logout</button>
  </div>
  <br> -->