<app-navbar></app-navbar>
<!-- <ul> -->
<!-- 
    <button (click)="customerproduct()">Product</button> -->
    <!-- <button (click)="customercart()">Cart</button>
    <button (click)="customerorder()">Order</button> -->
    <!-- </ul> -->



    <body>
        <div class="admin-dashboard">
        <header class="header">
    <ul class="button-list">
    
    <li class="restaurant-container">
        <button class="header-button large-buttoncustomer" (click)="customerproduct()">Product</button>
    
    
    </li>
    </ul>
        </header>
        </div>
    </body>
    