<!-- customerproduct.component.html -->

<app-navbar></app-navbar>

<body>
  <div class="admin-dashboard">
    <header class="header">
      <ul class="button-list">
        <li class="restaurant-container">
          <button class="header-button large-buttoncustomer" (click)="getall()">All Products</button>
        </li>
      </ul>
    </header>
  </div>

  <div *ngIf="response && response.length > 0">
    <table border="1">
      <thead>
        <tr>
          <th>ProductId</th>
          <th>ProductName</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of response">
          <td>{{ customer.productId }}</td>
          <td>{{ customer.productName }}</td>
          <td>{{ customer.category }}</td>
          <td>{{ customer.brand }}</td>
          <td>{{ customer.price }}</td>
          <td>
            <div class="btn-group" role="group">
              <input type="number" [(ngModel)]="quantities[customer.productId]" min="1">
              <button type="button" class="btn btn-info" (click)="add(customer, quantities[customer.productId])">Add to Cart</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
