<button (click)="getall()">Product Menu</button>
 <div *ngIf="response && response.length > 0">
   <table border="1">
   
     <thead>
       <tr>
        
         <th>ProductId</th>
         <th>ProductName</th>
         <th>Category</th>
         <th>Brand</th>
         <th>Price</th>
       </tr>
     </thead>
     
     <tbody>
       <tr *ngFor="let customer of response">
         <td>{{ customer.productId }}</td>
         <td>{{ customer.productName }}</td>
         <td>{{ customer.category }}</td>
         <td>{{ customer.brand }}</td>
         <td>{{ customer.price }}</td>
       </tr>
     </tbody>
   </table>
 </div>
 
 
 
 <br>
 <br>
 
  <br>

  <div class="text-center">
    <button (click)="getFormName()" class="btn btn-success">Get ProductName</button>
    </div>
    <div *ngIf="isgetFormNameVisible">
      <div  class="form-group">
        <label for="deleteId">Enter Name to Get Details</label>
        <input type="text" class="form-control" name="deleteId" [(ngModel)]="getName" required>
      </div>
      
     
      <button type="button" class="btn btn-primary btn-sm" (click)="getByName()">Get</button>
      </div>
      <div *ngIf="getresponseName">
        <h2>Product Details</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>productId</th>
              <th>productName</th>
              <th>category</th>
              <th>brand</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>{{ getresponseName[0].productId }}</td>
              <td>{{ getresponseName[0].productName }}</td>
              <td>{{ getresponseName[0].category }}</td>
              <td>{{ getresponseName[0].brand }}</td>
              <td>{{ getresponseName[0].price }}</td>
            </tr>
          </tbody>
        </table>
      </div> 



   


