
<app-navbar></app-navbar>
<button (click)="getall()">View Orders</button>

<div *ngIf="response && response.length > 0">
  <table border="1" class="table table-bordered">
    
    <thead>
      <tr>
        <th>OrderId</th>
        <th>CustomerId</th>
        <th>OrderDate</th>
        <th>DeliveryAddress</th>
        <th>PaymentMethod</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let admin of response">
        <td>{{ admin.orderId }}</td>
        <td>{{ admin.customer.customerId }}</td>
        <td>{{ admin.orderDate }}</td>
        <td>{{ admin.deliveryAddress }}</td>
        <td>{{ admin.paymentMethod }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<br>
<div class="custom-button">
  <button type="submit" class="btn btn-primary transparent-button" (click)="goBack()" style="margin-left: 20px;">Back</button>
</div>
  <br> 