/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px; /* Adjust as needed */
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px; /* Adjust as needed */
}

th {
    background-color: #f2f2f2;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Adjust as needed */
}

/* Button Styles */
.btn {
    background-color: rgb(63, 140, 187);
    border-radius: 20px;
    font-size: 14px; /* Adjust as needed */
    box-shadow: 0px 2px 5px white;
    color: white;
    width: 150px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Add specific styles for different buttons as needed */
.btn-success {
    background-color: rgb(79, 81, 79);
}

.btn-danger {
    background-color: red;
}

.btn-primary {
    background-color: rgb(63, 140, 187);
}

/* Center Text Styles */
.text-center {
    text-align: center;
}

/* Container Styles */
.container {
    margin: auto;
    width: 50%;
}

/* Optional: Styles for form error messages */
span {
    color: red;
}

/* Optional: Additional styling for specific elements */
/* For example, updateForm and deleteForm sections */
.container.col-lg-4 {
    width: 40%;
}

/* Optional: Additional styling for the table */
.table {
    background-color: #fff;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

.table th {
    background-color: #f2f2f2;
}
