{{response|json}}
<app-navbar></app-navbar>
 <button (click)="getall()">Get Cart</button> 

<div *ngIf="response && response.length > 0">
  <table border="1" class="table table-bordered">
    <thead>
      <tr>
        <th>cartId</th>
        <th>customerId</th>
        <th>quantity</th>
        <th>totalAmount</th>
        <th>productId</th>
        <th></th>
      </tr>
    </thead>
   
    <tbody>
      <tr *ngFor="let admin of response">
        <td>{{ admin.cartId }}</td>
        <td>{{ admin.customerId }}</td>
        <td>{{ admin.quantity }}</td>
        <td>{{ admin.totalAmount }}</td>
        <td>{{ admin.productId }}</td>
        <!-- <td>{{ "300"}}</td> -->
        <!-- <td><button click="order()">Place order</button></td> -->
        <td><a class="header-button" routerLink="/customerorder" routerLinkActive="active">Place Order</a></td>
      </tr>
    </tbody>
  </table>
</div>
<br> 

<br>


